
<IfModule mod_rewrite.c>
RewriteEngine on


RewriteRule ^$ app/view/index.php [L]
RewriteRule ^home?$ app/view/index.php [NC,L]
RewriteRule ^search?$ app/view/search.php [NC,L]
RewriteRule ^erro?$ app/view/_includes/error.php [NC,L]
RewriteRule ^identifique-se?$ app/view/login.php [NC,L]
RewriteRule ^cadastre-se?$ app/view/register.php [NC,L]
RewriteRule ^configuracoes$ app/view/configs.php [NC,L]
RewriteRule ^confirm app/view/confirma_email.php [NC,L]
RewriteRule ^([@,a-z,0-9,A-Z,_-]+)?$ app/view/profile.php [NC,L]



</IfModule>