
<IfModule mod_rewrite.c>
RewriteEngine on


RewriteRule ^$ resources/view/index.php [L]
RewriteRule ^home?$ resources/view/index.php [NC,L]
RewriteRule ^search?$ resources/view/search.php [NC,L]
RewriteRule ^erro?$ resources/view/_includes/error.php [NC,L]
RewriteRule ^identifique-se?$ resources/view/login.php [NC,L]
RewriteRule ^cadastre-se?$ resources/view/register.php [NC,L]
RewriteRule ^configuracoes$ resources/view/configs.php [NC,L]
RewriteRule ^confirm resources/view/confirma_email.php [NC,L]
RewriteRule ^([@,a-z,0-9,A-Z,_-]+)?$ resources/view/profile.php [NC,L]



</IfModule>