:root {
    --bg-page-color: #ebedf0; /* Cor de fundo de todo o site */
    --bg-header-home-image: url('../_img/bg.jpg'); /* Imagem de fundo da Header da pagina inicial */
    --bg-navbar-color: #29344d; /* Cor de fundo da navbar */
    --bg-navbar-search-input: #f7f8f9; /* Cor de fundo do campo de busca */
}
body{
    background-color: var(--bg-page-color);
    /* font-family: var(--font-family-sans-serif, "Arial"); Font-Family Sans-serif generica, com variavel do bootstrap */
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
button:disabled{
    cursor: not-allowed;
}
a:hover, .btn-link:hover, .btn-link:active{
    text-decoration: none;
}

.btn-radius{
    border-radius: 30px;
}
.btn-fc-primary{
    background-color: transparent;
    border-color: #38b7ea;
    color: #38b7ea;
    font-weight: 500;
}.btn-fc-primary:hover{
    background-color: #38b7ea;
    color: #fff;
}
.btn-fc-danger{
    background-color: transparent;
    border-color: #f1344e;
    color: #f1344e;
    font-weight: 500;
}.btn-fc-danger:hover{
    background-color: #f1344e;
    color: #fff;
}


/* HEADER */
header{
    height: 100vh;
    background-image: var(--bg-header-home-image);
    background-size: cover;
    color: #fff;
}
header .home-header{
    height: 100vh;
    padding-top: 35vh;
    padding-left: 5%;
    padding-right: 7%;
}
header .home-header p, header .home-header h5, header .home-header h2{
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}
.opacity-dark{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
/* NAVBAR */
.img-nav-profile{
    margin-right: 5px;
    margin-top: -5px;
}
.navbar{
    background-color: var(--bg-navbar-color);
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding-left: 35px;
    padding-right: 30px;
}
.navbar .navbar-collapse .navbar-nav{
    padding-top: 5px;
}
.navbar .navbar-collapse .navbar-nav .nav-item a{
    font-size: 15px;
    cursor: pointer;
}
.navbar .navbar-brand{
    padding-top: 5px;
}
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 35px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.campo-busca{
    background-color: var(--bg-navbar-search-input);
    border-radius: 20px 0px 0px 20px;
    border: 0px;
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
}
.btn-busca{
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    border: 0px;
    background-color: var(--bg-navbar-search-input);
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
/* BOTOES */
.btn-header{
    transition: .5s;
    border-radius: 30px;
    padding: 12px 35px 12px 35px;
    color: #fff;
    font-size: .9em;
    background-color: transparent;
    border: 2px #ccc solid;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

/* CARDS */
.title-page{
    background-color: rgba(255,255,255,1);
    min-height: 50px;
    padding: 20px 0px 10px 0px;
    color: #019699;
    border-bottom: 2px #019699 solid;
    text-transform:  uppercase;
}
.card .desc-card p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 25px;
    max-height: 75px;
    line-clamp: 3;
    box-orient: vertical;
    color: rgb(68, 68, 68);
}
.cards{
    padding-top: 50px;
    padding-bottom: 50px;
}
.card{
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.card .profile-face-footer{
    height: 60px;
    width: 60px;
}
.card .footer-card{
    padding-left: 35px;
    padding-top: 7px;
}
.card .footer-card .username{
    text-transform: uppercase;
    color: #000;
}
.stars i{
    color: rgb(255, 196, 0);
}
.stars-profile i{
    font-size: 30px;
    color: rgb(255, 208, 0);
}
.nome-contato{
    color: #333; 
}

.card .numbers-card {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 7px;
}
.card .numbers-card p {
    font-size: .8em;
    color: #a6a9ac;
}

.card .icon-align-center {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 40px;
    color: rgb(59, 59, 59);
}
.card .job-title {
    text-transform: uppercase;
    color: #0074b7;
    font-size: 20px;
    position: left;
    min-height: 48px;
    margin-bottom: 0px;
}

/* LOGIN BOX */
.login-box{
    margin-top:-50px;
    height:350px; 
    background-color:#fff;
    color:#000;
    padding:30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.login-box p{
    text-shadow: 0px 0px 0px !important;
    color: #575757;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.login-box input{
    border-radius: 3px;
    margin-top: 15px;
    background-color: #f7f8f9;
    border: 1px #c5c5c5 solid;
    padding: 5px;
    padding-left: 15px;
    width: 100%;
}
.login-box button{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.modal-bottom-divider{
    width: 100%;
    height: 1px;
    background-color: rgb(199, 199, 199);
}

/* REGISTER MODAL */
#registerModal .modal-dialog .modal-content{
  padding: 10px;
  border-radius: 3px;
}
#registerModal .modal-dialog .modal-content .modal-body p{
  color: #a6a9ac;
  padding-top: 10px;
  padding-bottom: 10px;
}
#registerModal label{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
#registerModal input, #registerModal select{
  margin-bottom: 15px;
  background-color: #f7f8f9;
  border: 1px #ebebeb solid;
}
#registerModal .modal-dialog .modal-content .modal-footer{
  border: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

/* PERFIL */
#profile-page{
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}
#profile-page .profile-card{
    min-height: 10px;
    background-color: #fff;
    border-radius: 0px;
    padding: 20px;
    border: 1px #eceff2 solid;
}
#profile-page .profile-card .img-profile{
    height: 150px;
    width: 100%;
}
#profile-page .profile-card .img-profile img{
    height: 150px;
    width: 150px;
    position:absolute;
    left:50%;
    margin-left: -75px;
    border-radius: 50%;
}
#profile-page .profile-card .infos .list-infos{
    margin-top: 12px;
    padding-top: 10px;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
    border-top: 1px rgb(223,223,223) solid;
}
#profile-page .profile-card .infos{
    margin-top: 10px;
    padding-top: 10px;
}
#profile-page .profile-card .infos .sub{
    color: #66757f;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#profile-page .profile-card .infos .sub i{
    margin-right: 5px;
}
#profile-page .profile-card .infos .profile-name{
    font-weight: normal;
}
#profile-page .profile-card .skills-label{
    font-size:13px;
    font-weight:400;
    text-transform:uppercase;
    padding:6px;
    padding-left:10px;
    padding-right:10px;
    background-color:#e7e7ea;
    color:#666;
    border-radius:3px;
    margin-right:5px;
    margin-top:5px
}

.nav-tabs{
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
}
.nav-tabs .nav-item{
    text-transform: uppercase;
    font-size: 15px;
}
.nav-tabs .nav-item a{
    color: #000;
    border-top: 1px transparent solid;
}
.nav-tabs .nav-item a:hover{
    border-color: transparent;
}
.nav-tabs .nav-item a.active{
    border-radius: 2px 2px 0px 0px;
    border-color: #0074b7;
    border-top: 1px #0074b7 solid;
    border-bottom: 1px transparent solid;
}
#usrFoto{
    height: 150px;
    width: 150px;
}
#fotoMouseOn{
    height: 150px !important;
    width: 150px !important;
    position:absolute;
    left:50%;
    margin-left: -75px !important;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .25);
}
#fotoMouseOn img{
    height: 50px !important;
    width: 50px !important;
    top: 50px;
    left:50%;
    margin-left: -25px !important;
}

@media (max-width: 720px){
  .campo-busca, .btn-busca{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -12px;
  }
}

footer{
    padding-top:20px;
    margin-top:40px;
    background-color:var(--bg-navbar-color) !important; 
}